@page "/movies/{movieId:int}"
@inject HttpClient Http
@using Newtonsoft.Json
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


@if (finishedLoading)
{
    <div class="container">

        <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">@jsonObject.Title</h2>
        <hr class="mt-2 mb-5">

        <div class="container-fluid border p-3">

            <div class="media">

                <img src="@jsonObject.Poster" class="mr-4" style="width:300px">


                <div class="media-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td><h4>Title</h4></td>
                                <td>@jsonObject.Title</td>
                            </tr>
                            <tr>
                                <td><h4>Rating</h4></td>
                                <td>
                                    <RadzenRating Change=@(args => OnChange(args, "Rating with 5 stars")) />
                                </td>
                            </tr>
                            <tr>
                                <td><h4>Released</h4></td>
                                <td>@jsonObject.Released</td>
                            </tr>
                            <tr>
                                <td><h4>Runtime</h4></td>
                                <td>@jsonObject.Runtime</td>
                            </tr>
                            <tr>
                                <td><h4>Genre</h4></td>
                                <td>@jsonObject.Genre</td>
                            </tr>
                            <tr>
                                <td><h4>Ratings</h4></td>
                                <td>
                                    <ul>
                                        @foreach (var item in jsonObject.Ratings)
                                        {
                                            <li>@item.Source: @item.Value</li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><h4>Production</h4></td>
                                <td>@jsonObject.Production</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="container-fluid">
                <h3 class="font-weight-light text-center text-lg-left mt-0 mb-0">Plot</h3>
                <hr class="mt-2 mb-3">
                <p>@jsonObject.Plot</p>
            </div>

        </div>


    </div>

}

@code {
    [Parameter]
    public int movieId { get; set; }
    private bool finishedLoading = false;
    private string jsonString;
    private dynamic jsonObject = null;
    private string token;
    private int starsRating;

    protected override async Task OnInitializedAsync()
    {
        string URL = "http://localhost:5000/api/Movies/MoviesData/" + movieId;
        jsonString = await Http.GetStringAsync(URL);
        jsonObject = JsonConvert.DeserializeObject(jsonString);
        finishedLoading = true;
        token = await sessionStorage.GetItemAsync<string>("jwt");
    }

    private async Task GetRating()
    {
        string urlGet = "http://localhost:5050/api/v1/ratings?movieId=" + movieId;
        var httpResponse = await Http.GetAsync(urlGet);
        starsRating = await httpResponse.Content.ReadFromJsonAsync<int>();

    }

    private async Task OnChange(int value, string name)
    {
        Console.WriteLine($"{name} value changed to {value}");
        string url = "http://localhost:5050/api/v1/ratings";
        if (value == 0)
        {
            string urlDelete = "http://localhost:5050/api/v1/ratings/" + movieId;
            Http.DefaultRequestHeaders.Add("Authentification_Token", token);
            var httpResponse = await Http.DeleteAsync(url);
        }
        else
        {
            MovieRating movieRating = new MovieRating { movieId = movieId, rating = value};
            Console.WriteLine(movieRating.rating);
            Http.DefaultRequestHeaders.Add("Authentification_Token", token);
            var httpResponse = await Http.PostAsJsonAsync(url, movieRating);
        }

    }

    public class MovieRating
    {
        public int movieId { get; set; }
        public int rating { get; set; }
    }
}
